[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "themes/powerlevel10k"]
	path = themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
